body {
	background: #EFEFEF;
	font-family: arial, helvetica, sans-serif;
}

.form {
	margin-left: 185px;
	margin-top: 50px;
	background: #FFFFFF;
	width: 60%;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.form > input {
	clear: right;
}

.input-label {
	margin-bottom: 15px;
}	

.input-label > input[type=submit] {
	background-color: red;
	text-decoration: none;
	border-style: none;
	height: 40px;
	width: 110px;
	color: #FFFFFF;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	border-style: none;
	border-radius: 10px;
	margin-bottom: -15px;
}

.input-label > input[type=submit]:hover {
	cursor: pointer;
	background-color: #CC0000
}

.input-label > input[type=text],
.input-label > input[type=password],
.input-label > input[type=date],
.input-label > input[type=email],
.input-label > input[type=number] {
	font-family: arial, helvetica, sans-serif;
	height: 25px;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #CFCFCF
}

.input-label > input[type=radio] {
	font-family: arial, helvetica, sans-serif;
}

.input-label > label {
	font-family: arial, helvetica, sans-serif;
	display: inline-block;
	text-align: right;
	width: 150px;
	margin-right: 5px;
}

.faux-label {
	font-family: arial, helvetica, sans-serif;
	display: inline-block;
	text-align: right;
	width: 150px;
	margin-right: 5px;
}